/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  /* max-inline-size: 375px; */
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, min-content);
  inline-size: 100%;
  min-block-size: 668px;
  justify-self: center;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-block-start: var(--border-block-start);
  border-inline-end: var(--border-inline-end);
  border-block-end: var(--border-block-end);
  border-inline-start: var(--border-inline-start);
  border-style: solid;
  border-color: var(--border-color);
}

.decorated-zone::after {
  --border-inline-start: 1px;
  --border-block-end: 1px;
  --border-block-start: 0;
  --border-inline-end: 0;

  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-inline-start: var(--border-inline-start);
  border-block-end: var(--border-block-end);
  border-block-start: var(--border-block-start);
  border-inline-end: var(--border-inline-end);
  border-style: solid;
  border-color: var(--border-color);
}

.header__theme-menu-list {
  --margin-block-start: 63px;
  display: grid;
  justify-content: end;
  margin-block-start: var(--margin-block-start);
  row-gap: var(--gap);
}

.header__theme-menu-button {
  --background-color: transparent;

  text-align: center;
  text-transform: lowercase;
  color: var(--font-color);
  background-color: var(--background-color);
  inline-size: 70px;
  block-size: 26px;
  border: none;
}

.header__theme-menu-button:hover {
  --border-color: #ff007066;

  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
  /*outline: 1px solid rgba(255, 0, 112, 1);*/
}

.decorative-text__decorative-element::before {
  --line-height: 25px;

  content: "REC";
  position: absolute;
  top: 10px;
  right: 38px;
  inline-size: 33px;
  block-size: 26px;
  line-height: var(--line-height);
  color: var(--font-color);
}

.decorative-text__decorative-element::after {
  --background-color: #ff0070;

  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 19px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--background-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
}

.title {
  --font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight: 700;
  --line-height: 95.7px;
  --font-color: #db00ff;
  --margin-block-start: 69px;
  --margin-block-end: 54px;

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--font-color);
  text-shadow: 4px 4px var(--accent-color);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
}

.title-decor {
  --font-weight: 700;
  --line-height: 23.4px;
  --background-color: #ff0070;
  --font-color: #000028;

  block-size: 24px;
  inline-size: 100%;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  /*text-align: left;*/
  background-color: var(--background-color);
  color: var(--font-color);
}

.more__background-size {
  block-size: 117px;
}

.main {
  --gap: 47.5px;
  --margin-block-start: 40px;
  --margin-block-end: 50px;

  display: grid;
  grid-template-rows: auto;
  row-gap: var(--gap);
  max-block-size: 5355px;
  padding-inline-start: var(--padding-inline-start);
  padding-inline-end: var(--padding-inline-end);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
}

.section__heading {
  --font-weight: 700;
  --line-height: 23.4px;
  --margin-block-end: 20px;
  --font-color: #ff0070;

  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  margin-block-end: var(--margin-block-end);
}

.another-size {
  --margin-block-end: 20px;

  block-size: 47px;
  margin-block-end: var(--margin-block-end);
}

.thin-font {
  --font-weight: 400;

  font-weight: var(--font-weight);
}

.list__text {
  --font-color: #f1b2ce;
  --margin-block-start: 10px;
  --margin-block-end: 20px;

  color: var(--font-color);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
}

.reset__margin {
  --margin-block-end: 0;

  margin-block-end: var(--margin-block-end);
}

.link-line {
  text-decoration: none;
}

.link-line:hover {
  --border-bottom-color: #f1b2ce;

  border-bottom: 1px solid var(--border-bottom-color);
}

.link-line:focus {
  --border-color: #f1b2ce;

  border: 1px solid var(--border-color);
  /*outline: 1px solid rgba(241, 178, 206, 1);*/
}

.link__decor {
  border-bottom: 1px solid;
  text-shadow: 1.7px 1.7px var(--accent-color);
}

.remove__link-line {
  border-bottom: none;
}

.images__container {
  --gap: 10px;

  inline-size: 355px;
  block-size: 1366px;
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.about__sunset-image {
  --margin-block-start: 10px;

  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  margin-block-start: var(--margin-block-start);
}

.about__ice-cream-image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.about__tape-image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.about__books-image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.about__street-image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  --paddng: 10px;
  position: relative;
  block-size: 668px;
  padding: var(--padding);
  text-align: center;
}

.other-coordinates__other-shade {
  --margin-block-start: 276px;

  margin-block-start: var(--margin-block-start);
  text-shadow: 2px 2px var(--accent-color);
}

.footer.decorated-zone {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-block-start: var(--border-block-start);
  border-inline-end: var(--border-inline-end);
  border-block-end: var(--border-block-end);
  border-inline-start: var(--border-inline-start);
  border-style: solid;
  border-color: var(--border-color);
}

/* @container (inline-size <= 768px) and (inline-size >=368px) {
  .page {
   display: flex;
  }
} */

@media /*(min-width: 376px) and (max-width: 768px) */ (width: 768px) {
  .header {
    --padding: 20px;

    display: grid;
    position: relative;
    grid-template-rows: repeat(3, min-content);
    inline-size: 100%;
    min-block-size: 1024px;
    justify-self: center;
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: var(--padding);
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-block-start: var(--border-block-start);
    border-inline-end: var(--border-inline-end);
    border-block-end: var(--border-block-end);
    border-inline-start: var(--border-inline-start);
    border-style: solid;
    border-color: var(--border-color);
  }

  .decorated-zone::after {
    --border-inline-start: 1px;
    --border-block-end: 1px;
    --border-block-start: 0;
    --border-inline-end: 0;

    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-inline-start: var(--border-inline-start);
    border-block-end: var(--border-block-end);
    border-block-start: var(--border-block-start);
    border-inline-end: var(--border-inline-end);
    border-style: solid;
    border-color: var(--border-color);
  }

  .header__theme-menu-list {
    --margin-block-start: 170px;
    display: grid;
    justify-content: end;
    margin-block-start: var(--margin-block-start);
    row-gap: var(--gap);
  }

  .header__theme-menu-button {
    --background-color: transparent;

    text-align: center;
    text-transform: lowercase;
    color: var(--font-color);
    background-color: var(--background-color);
    inline-size: 70px;
    block-size: 26px;
    border: none;
  }

  .header__theme-menu-button:hover {
    --border-color: #ff007066;

    border: 1px solid var(--border-color);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--border-bottom-color);
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--border-color);
    pointer-events: none;
    /*outline: 1px solid rgba(255, 0, 112, 1);*/
  }

  .decorative-text__decorative-element::before {
    --line-height: 25px;

    content: "REC";
    position: absolute;
    top: 20px;
    right: 48px;
    inline-size: 33px;
    block-size: 26px;
    line-height: var(--line-height);
    color: var(--font-color);
  }

  .decorative-text__decorative-element::after {
    --background-color: #ff0070;

    content: "";
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 29px;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--background-color);
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
  }

  .title {
    --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-weight: 700;
    --line-height: 99px;
    --font-color: #db00ff;
    --margin-block-start: 175px;
    --margin-block-end: 162px;
    --margin-inline-start: -20px;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--font-color);
    text-shadow: 4px 4px var(--accent-color);
    margin-block-start: var(--margin-block-start);
    margin-block-end: var(--margin-block-end);
    margin-inline-start: var(--margin-inline-start);
  }

  .title-decor {
    --font-weight: 700;
    --line-height: 23.4px;
    --background-color: #ff0070;
    --font-color: #000028;

    display: flex;
    justify-self: end;
    block-size: 24px;
    /* inline-size: 100%; */
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background-color: var(--background-color);
    color: var(--font-color);
  }

  .more__background-size {
    max-inline-size: 364px;
    min-block-size: 117px;
  }

  .main {
    --gap: 78px;
    --margin-block-start: 60px;
    --margin-block-end: 75px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;

    display: grid;
    grid-template-rows: auto;
    row-gap: var(--gap);
    max-block-size: 3682px;
    padding-inline-start: var(--padding-inline-start);
    padding-inline-end: var(--padding-inline-end);
    margin-block-start: var(--margin-block-start);
    margin-block-end: var(--margin-block-end);
  }

  .section {
    display: grid;
  }

  .section__first {
    --gap: 20px;

    grid-template-columns: 1fr 2fr;
    column-gap: var(--gap);
  }

  .section__second {
    --gap: 20px;

    display: grid;
    grid-template-rows: auto;
    row-gap: var(--gap);
  }

  .section__third {
    --gap: 20px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: var(--gap);
  }

  .section__heading {
    --font-weight: 700;
    --line-height: 23.4px;
    --margin-block-end: 0;
    --font-color: #ff0070;

    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
    inline-size: 236px;
    margin-block-end: var(--margin-block-end);
  }

  .another-size {
    /* --margin-block-end: 20px; */

    block-size: 23px;
    /* margin-block-end: var(--margin-block-end); */
  }

  .thin-font {
    --font-weight: 400;

    font-weight: var(--font-weight);
  }

  .list__text {
    --font-color: #f1b2ce;
    --margin-block-start: 10px;
    --margin-block-end: 20px;

    color: var(--font-color);
    margin-block-start: var(--margin-block-start);
    margin-block-end: var(--margin-block-end);
  }

  .reset__margin {
    --margin-block-end: 0;

    margin-block-end: var(--margin-block-end);
  }

  .link-line {
    text-decoration: none;
  }

  .link-line:hover {
    --border-bottom-color: #f1b2ce;

    border-bottom: 1px solid var(--border-bottom-color);
  }

  .link-line:focus {
    --border-color: #f1b2ce;

    border: 1px solid var(--border-color);
    /*outline: 1px solid rgba(241, 178, 206, 1);*/
  }

  .link__decor {
    border-bottom: 1px solid;
    text-shadow: 1.7px 1.7px var(--accent-color);
  }

  .remove__link-line {
    border-bottom: none;
  }

  .images__container {
    --gap: 20px;

    inline-size: 100%;
    block-size: 780px;
    display: grid;
    gap: var(--gap);
    /* grid-auto-flow: row;
    row-gap: var(--gap); */
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    /* grid-auto-flow: column; */
    grid-template-areas:
      "about__sunset-image about__sunset-image about__ice-cream-image"
      "about__tape-image about__books-image about__ice-cream-image"
      "about__tape-image about__street-image about__street-image"
      "about__tape-image about__street-image about__street-image";
  }

  .about__sunset-image {
    --margin-block-start: 20px;

    object-fit: cover;
    object-position: center;
    margin-block-start: var(--margin-block-start);
    grid-area: about__sunset-image;
  }

  .about__ice-cream-image {
    --margin-block-start: 20px;

    block-size: 441px;
    object-fit: cover;
    object-position: center;
    margin-block-start: var(--margin-block-start);
    grid-area: about__ice-cream-image;
  }

  .about__tape-image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: about__tape-image;
  }

  .about__books-image {
    object-fit: cover;
    object-position: center;
    grid-area: about__books-image;
  }

  .about__street-image {
    object-fit: cover;
    object-position: center;
    grid-area: about__street-image;
  }

  .footer {
    --padding: 20px;

    display: grid;
    align-items: center;
    position: relative;
    block-size: 1024px;
    padding: var(--padding);
    /* text-align: center; */
  }

  .other-coordinates__other-shade {
    --margin-inline-start: 0;
    /* --margin-block-start: 445px; */

    /* margin-block-start: var(--margin-block-start); */
    text-shadow: 2px 2px var(--accent-color);
    margin-inline-start: var(--margin-inline-start);
  }

  .footer.decorated-zone {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    inline-size: 25px;
    block-size: 25px;
    border-block-start: var(--border-block-start);
    border-inline-end: var(--border-inline-end);
    border-block-end: var(--border-block-end);
    border-inline-start: var(--border-inline-start);
    border-style: solid;
    border-color: var(--border-color);
  }
}
